 /*filename: index.css*/
 article {
    padding: 5px;
      }       
        
  article p {
    margin-left: 20px;
    margin-right: 20px;
      }
   h1, h2, h3 {
        margin: 0px;
        padding: 20px 0px 10px 20px;
        }
    article {
       background-color: rgb(229, 197, 157);
       padding: 5px;
            }

    article p {
        margin-left: 20px;
        margin-right: 20px;
        font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu
        Sans", Verdana, sans-serif;
            }

    h1 {
        font-family: Precious, cursive;
        color:rgb(21, 207, 176);
            }
    
    h2 {
        font-family: 'Chiller';
        color:rgb(124, 199, 4);
            }

    h3 {
        font-family: Process, Arial, Helvetica, sans-serif;
        color:rgb(46, 4, 199);
            }
    
    article {
        background-color: rgb(229, 197, 157);
        display: block;
        padding: 5px;
            }

    article p {
        margin-left: 20px;
        margin-right: 20px;
        font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu
        Sans", Verdana, sans-serif;
        font-size: 0.9em;
            }

    h1, h2, h3 {
        margin: 0px;
        padding: 20px 0px 10px 20px;
        font-weight: normal;
        font-size: 3em;
            }
                
                
                